doctype html
html(lang="en")
  head
    title koa views
    script.
      var foo = true;

      if (foo) {
         bar()
      }

      function bar() {
        console.log('everything works.');
      }

    style.
      body {
        font-family: Helvetica;
        text-align: center;
      }


      h1 {
        padding-top: 300px;
        font-weight: 200;
        color: #333;
        font-size: 6em;
      }

      h2 {
        color: #666;
      }
  body
    h1 koa ♥
    h2 #{ user } has viewed this site #{ session.views } times.