doctype html
html(lang="en")
  head
    title koa-render
    script.
      var foo = true;

      if (foo) {
         bar()
      }

      function bar() {
        console.log('everything works.');
      }

    style.
      body {
        font-family: Helvetica;
        text-align: center;
      }


      h1 {
        padding-top: 300px;
        font-weight: 200;
        color: #333;
        font-size: 6em;
      }
  body
    h1 koa ♥