<html>
  <head>
    <title>koa views</title>
    <script>
        var foo = true;

        if (foo) {
           bar()
        }

        function bar() {
          console.log('everything works.');
        }
    </script>
    <style>
      body {
        font-family: Helvetica;
        text-align: center;
      }


      h1 {
        padding-top: 300px;
        font-weight: 200;
        color: #333;
        font-size: 6em;
      }

      h2 {
        color: #666;
      }
    </style>
  </head>
  <body>
    <h1>koa ♥</h1>
    <h2><%= user %> has viewed this site <%= session.views %> times.</h2>
  </body>
</html>